### Установка и импорт Библиотеки Polars

In [23]:
%pip install polars

Requirement already satisfied: polars in /opt/anaconda3/lib/python3.11/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
%pip install pyarrow

Requirement already satisfied: pyarrow in /opt/anaconda3/lib/python3.11/site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in /opt/anaconda3/lib/python3.11/site-packages (from pyarrow) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [99]:
import polars as pl
import pandas as pd
import numpy as np

### Загрузка данных в Polars DataFrame

Импорт датасета из csv

In [26]:
df = pl.read_csv('titanic.csv')

In [32]:
df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

Импорт из pandas-датасета

In [34]:
pandas_df = pd.read_csv('titanic.csv')

In [35]:
pandas_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
df = pl.from_pandas(pandas_df)

Импорт из json

In [50]:
pandas_df.to_json('titanic.json', orient='records', lines=True, force_ascii=False)

In [54]:
df = pl.read_ndjson('titanic.json')

In [55]:
df

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Hele…  ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

### Создание DataFrame в Polars

Из словаря

In [56]:
data = {
    'A': [1, 2, 3],
    'B': ['foo', 'bar', 'baz'],
    'C': [True, False, True]
}

In [57]:
df = pl.DataFrame(data)

In [58]:
df

shape: (3, 3)
┌─────┬─────┬───────┐
│ A   ┆ B   ┆ C     │
│ --- ┆ --- ┆ ---   │
│ i64 ┆ str ┆ bool  │
╞═════╪═════╪═══════╡
│ 1   ┆ foo ┆ true  │
│ 2   ┆ bar ┆ false │
│ 3   ┆ baz ┆ true  │
└─────┴─────┴───────┘

Из списка кортежей

In [90]:
data = [
    (1, 2, 3),
    ("foo", 'bar', "baz"),
    (True, False, True)
]
data

[(1, 2, 3), ('foo', 'bar', 'baz'), (True, False, True)]

In [91]:
df = pl.DataFrame(data, schema=['A', 'B', 'C'])

In [92]:
df

shape: (3, 3)
┌─────┬─────┬───────┐
│ A   ┆ B   ┆ C     │
│ --- ┆ --- ┆ ---   │
│ i64 ┆ str ┆ bool  │
╞═════╪═════╪═══════╡
│ 1   ┆ foo ┆ true  │
│ 2   ┆ bar ┆ false │
│ 3   ┆ baz ┆ true  │
└─────┴─────┴───────┘

Добавление колонок в пустой датасет

In [97]:
# Начинаем с пустого DataFrame
df = pl.DataFrame()

# Добавляем колонку 'A'
df = df.with_columns(pl.Series('A', [1, 2, 3]))

# Добавляем колонку 'B'
df = df.with_columns(pl.Series('B', ['foo', 'bar', 'baz']))

# Добавляем колонку 'C'
df = df.with_columns(pl.Series('C', [True, False, True]))

df

shape: (3, 3)
┌─────┬─────┬───────┐
│ A   ┆ B   ┆ C     │
│ --- ┆ --- ┆ ---   │
│ i64 ┆ str ┆ bool  │
╞═════╪═════╪═══════╡
│ 1   ┆ foo ┆ true  │
│ 2   ┆ bar ┆ false │
│ 3   ┆ baz ┆ true  │
└─────┴─────┴───────┘

### Практическое задание 0
1. Создайте 3 списка по 5 элементов в каждом - строковый список, список целых чисел, список чисел типа float
(например, название сборной - кол-во очков  в группе - средний XG за матч)
Для генерации чисел воспользуйтесь функиями np.random.randint/np.random.rand
2. Создайте 2 датасета - polars и pandas
3. Примените метод head к обоим датасетам (выведите первые 3 строки)
4. Примените метод dtypes к обоим датасетам
5. Примените метод describe к обоим датасетам

### Контексты и выражения Polars

* Выбор
* Фильтрация
* Группировка/агрегация

### Выбор и фильтрация данных в Polars

In [100]:
strings_data = ["apple", "banana", "cherry", "watermelon", "elderberry"]
integers_data = np.random.randint(1, 100, size=5) 
floats_data = np.random.rand(5)

In [101]:
df_pl = pl.DataFrame({ 
    "fruit": strings_data, 
    "quantity": integers_data, 
    "price": floats_data 
}) 

df_pd = pd.DataFrame({ 
    "fruit": strings_data, 
    "quantity": integers_data, 
    "price": floats_data 
})

Индексирование

In [102]:
df_pl[0,:]

shape: (1, 3)
┌───────┬──────────┬─────────┐
│ fruit ┆ quantity ┆ price   │
│ ---   ┆ ---      ┆ ---     │
│ str   ┆ i64      ┆ f64     │
╞═══════╪══════════╪═════════╡
│ apple ┆ 19       ┆ 0.06752 │
└───────┴──────────┴─────────┘

In [106]:
df_pd.iloc[0,:]

fruit         apple
quantity         19
price       0.06752
Name: 0, dtype: object

In [107]:
df_pl[:,['fruit', "price"]]

shape: (5, 2)
┌────────────┬──────────┐
│ fruit      ┆ price    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ apple      ┆ 0.06752  │
│ banana     ┆ 0.365996 │
│ cherry     ┆ 0.333248 │
│ watermelon ┆ 0.320118 │
│ elderberry ┆ 0.038571 │
└────────────┴──────────┘

In [113]:
df_pd.loc[:, ['fruit', "price"]]

        fruit     price
0       apple  0.067520
1      banana  0.365996
2      cherry  0.333248
3  watermelon  0.320118
4  elderberry  0.038571

Фильтрация строк

In [117]:
df_pl.filter(
    pl.col("price") > 0.35
)

shape: (1, 3)
┌────────┬──────────┬──────────┐
│ fruit  ┆ quantity ┆ price    │
│ ---    ┆ ---      ┆ ---      │
│ str    ┆ i64      ┆ f64      │
╞════════╪══════════╪══════════╡
│ banana ┆ 82       ┆ 0.365996 │
└────────┴──────────┴──────────┘

In [118]:
df_pd[
    df_pd['price'] > 0.35
]

    fruit  quantity     price
1  banana        82  0.365996

In [119]:
df_pl.select(['fruit', 'price'])

shape: (5, 2)
┌────────────┬──────────┐
│ fruit      ┆ price    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ apple      ┆ 0.06752  │
│ banana     ┆ 0.365996 │
│ cherry     ┆ 0.333248 │
│ watermelon ┆ 0.320118 │
│ elderberry ┆ 0.038571 │
└────────────┴──────────┘

Метод with_columns

In [121]:
df_pl

shape: (5, 3)
┌────────────┬──────────┬──────────┐
│ fruit      ┆ quantity ┆ price    │
│ ---        ┆ ---      ┆ ---      │
│ str        ┆ i64      ┆ f64      │
╞════════════╪══════════╪══════════╡
│ apple      ┆ 19       ┆ 0.06752  │
│ banana     ┆ 82       ┆ 0.365996 │
│ cherry     ┆ 14       ┆ 0.333248 │
│ watermelon ┆ 9        ┆ 0.320118 │
│ elderberry ┆ 47       ┆ 0.038571 │
└────────────┴──────────┴──────────┘

In [120]:
df_pl.with_columns([
    (pl.col("price") * pl.col("quantity")).alias("total")
])

shape: (5, 4)
┌────────────┬──────────┬──────────┬───────────┐
│ fruit      ┆ quantity ┆ price    ┆ total     │
│ ---        ┆ ---      ┆ ---      ┆ ---       │
│ str        ┆ i64      ┆ f64      ┆ f64       │
╞════════════╪══════════╪══════════╪═══════════╡
│ apple      ┆ 19       ┆ 0.06752  ┆ 1.282876  │
│ banana     ┆ 82       ┆ 0.365996 ┆ 30.011667 │
│ cherry     ┆ 14       ┆ 0.333248 ┆ 4.66547   │
│ watermelon ┆ 9        ┆ 0.320118 ┆ 2.881066  │
│ elderberry ┆ 47       ┆ 0.038571 ┆ 1.812823  │
└────────────┴──────────┴──────────┴───────────┘

### Практическое задание 1
1. Импортируйте датасет из файла tips.csv в polars dataset
2. Оставьте только те строки, где столик был обслужен в субботу или воскресенье (воспользуйтесь методом isin([])). Добавьте условие для фильтра - фильтр на чаевые по перцентилю в 10% (берем все, что выше)
3. Добавьте новую колонку - % оставленных чаевых

### Практическое задание 2
1. Загрузите набор данных титаника.
2. Выберите только столбцы класс, пол, возраст.
3. Выберите пассажиров, путешествовавших в первом классе и заплативших более 100 фунтов за билет. (4.86 - примерный курс)
4. Добавьте столбец “стоимость билета в доллрах”.
5. Выберите выживших пассажиров женского пола моложе 18 лет.
6. Добавьте столбец “количество родственников на борту”.
7. Выберите пассажиров, выживших с братьями или сестрами, илии супругами.

### Практическое задание 3
1. Создайте массив чисел методом rand на 500 000 000 чисел
2. Запишите массив в 2 датасета - pandas и polars
3. Сосчитайте среднее колонки в pandas и в polars. Используйте функцию time.time() для оценки времени